* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #222;
}

.card {
  width: 90%;
  max-width: 500px;
  background: linear-gradient(135deg, #c8f5fb, #92e6fc, #60eafc);
  text-align: center;
  color: #fff;
  margin: 50px auto;
  padding: 25px 25px;
  border-radius: 20px;
}

.search {
  display: flex;
  justify-content: center;
  text-align: center;
}

.search input {
  width: 100%;
  height: 40px;
  border: 0px;
  outline: 0px;
  border-radius: 20px;
  font-size: 20px;
  padding-left: 15px;
  flex: 1;
}

.search button {
  width: 40px;
  height: 40px;
  border: 0px;
  outline: 0px;
  border-radius: 20px;
  cursor: pointer;
}

.search img {
  width: 20px;
}

.weather {
  display: none;
}

.weather img {
  width: 150px;
  margin-top: 20px;
}

.temp {
  font-size: 50px;
  font-weight: 900;
}

.city {
  font-size: 35px;
  font-weight: 600;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.details img {
  width: 50px;
}

.humidity-percent,
.wind-speed {
  font-size: 25px;
  font-weight: bold;
}

.humidity,
.wind {
  font-size: 20px;
  font-weight: 300;
}